.banner-area {
    height: 60vh;
    width: 100%;
    background: linear-gradient( #1c1a2521, #000000ab),url(../ahmedabad/kankaria-la) no-repeat;
    /* background-color: #eee; */
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; 
}